/* // RotatingSquaresAnimation.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  width: 2rem;
  height: 2rem;
  background-color: rgb(20, 145, 203);
  margin: 0.25rem;
  animation: rotate 2s infinite linear;
}

.square0 { animation-delay: 0s; }
.square1 { animation-delay: 0.2s; }
.square2 { animation-delay: 0.4s; }
.square3 { animation-delay: 0.6s; }

@keyframes rotate {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(180deg) scale(1.2); }
  100% { transform: rotate(360deg) scale(1); }
}