node_modules
dist
.env

# Logs
logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Build output
dist/

# IDE / Editor directories
.idea/
.vscode/
*.swp
*.swo

# Kubernetes secrets
backend/k8s/secrets/